*{
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 100%;
  min-height: 1500px;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg,cornflowerblue,rgb(83, 127, 207));
  border-bottom: 1px solid #eeeff1;
  box-shadow: 0 -3px 20px lightgray;
  width: 100%;
  height: 80px;

  img{
    height: 65px;
    margin-right: 50%;
    filter: contrast(999) invert(1);
  }

  ul{
    display: flex;
    list-style: none;
    font-style: normal;

    li{
      margin-left: 20px;
      display: flex;
      align-items: center;
      height:15px;
      transition: .2s;

       a{
        padding: 5px 0;
        display: flex;
        align-items: center;
        color: #fff;
        position: relative;
        text-decoration: none;

        span{
          margin-left: 5px;
        }

        &:hover{
          color: lightblue;
        }
      }

    }
  }
}

.container{
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  width: 500px;
  border: 1px solid #eeeff1;
  border-radius: 5px;
  box-shadow: 3px 3px 25px #eeeeee;
  padding: 25px;

  input{
    padding: 5px;
    border: 1px solid #d3d3d3;
  }
}

.dd-item, li a span{
  margin-left: 5px;
}

.dropdown{
  display: none;
}



@media (max-width: 600px){
  // .header{
  //   height: auto;
  //   img{
  //     height: 100px;
  //   }
  //   ul{
  //     border-left: 1px solid rgba(173, 216, 230, 0.459);
  //     padding-left: 25px;
  //     margin: 5px 0;
  //     flex-direction: column;
  //     li{
  //       margin: 5px 0;
  //       a{
  //         border: none;
  //       }
  //     }
  //   }
  // }

  .header{
    ul{
      display: none;
    }
  }


  .dropdown{
    color: cornflowerblue;
    display: flex;
    box-shadow: none;

    // .dropdown-menu{
    //   display: none !important;
    //   background-color:red;
    // }

    .button{
      display: flex;
      align-items: center;
      background-color: #fff;

      &:hover{
        background-color: #fff;
        color: cornflowerblue;
        filter: brightness(0.95);
      }

      &:focus{
        color: cornflowerblue;
        box-shadow: none;
      }

      &:active{
        filter: brightness(0.9)
      }

      span{
        display: flex;
        align-items: center;
      }

      .btn-icon{
        margin-left: 5px;
      }

    }
    .dropdown-item{
      display: flex;
      align-items: center;
    }
  }
  

}

