.button{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 30px;
    border: 1px solid cornflowerblue;
    box-sizing: border-box;
    padding: 5px 15px;
    color: cornflowerblue;
    background: transparent;
    cursor: pointer;

    &:hover{
        box-sizing: border-box;
        border: 1px solid cornflowerblue;
        background: cornflowerblue;
        color: white;
    }
}